[2013-03-25 09:01] felixge opened #1 "demo: improve endpoint configuration"
Right now you have to edit the `js/main.js` file to change the url endpoint used for the demo. This config should be moved to _site.yml and be easy to overwrite for local development.

Problems:
* Seems like `.js` files are not interpreted as templates by jekyll, so `{{ site.demo.url }}` isn't accessible
* Jekyll seems to have no concept of environment configs, so we'll have to come up with someth

[2013-03-25 09:02] felixge opened #2 "demo: provide download link for file after upload is complete"

[2013-03-25 09:02] felixge opened #3 "demo: test on more browsers"
We should at least target the latest versions of Chrome, FF, Safari and IE at first.

[2013-03-25 09:10] felixge opened #4 "docs: create section"
Move stuff from tusd readme into docs section.

[2013-03-25 09:23] felixge opened #5 "add logging"
this way we can tell what files were uploaded, how fast, etc.

[2013-03-25 09:23] #5 closed, assigned to nobody

[2013-03-25 09:39] felixge opened #6 "store filename"
this way we can set it for the download url

[2013-03-25 10:05] felixge opened #7 "demo: progress is choppy"
seems to only update after a chunk has been uploaded

[2013-03-25 10:12] #7 closed, assigned to nobody

[2013-03-25 10:14] #2 closed, assigned to nobody

[2013-03-25 10:14] #6 closed, assigned to nobody

[2013-03-26 13:27] #3 closed, assigned to nobody

[2013-03-26 14:01] #4 closed, assigned to nobody

[2013-03-26 15:57] felixge opened #8 "setup blogging"
atom/rss feed, disqus comments, etc.

[2013-03-26 15:57] felixge opened #9 "demo broken in firefox"
`jxXHR.getResponseHeader('Location')` returns null. Needs debugging/

[2013-03-26 15:58] tim-kos opened #10 "Review tus.io faq section"

[2013-03-26 15:59] tim-kos opened #11 "Review tus.io protocol section"

[2013-03-26 16:19] #11 closed, assigned to tim-kos

[2013-03-26 17:11] #9 closed, assigned to nobody

[2013-04-01 16:37] #10 closed, assigned to tim-kos

[2013-04-06 19:44] kvz opened #12 "Add feedburner for RSS"

[2013-04-06 20:56] felixge opened #13 "Fix demo in Firefox again"
21093800d1c7c3c5c8b06e872686a6c69ab7013e was needed to make the demo work with jquery 1.9.1, but breaks the demo for Firefox again. This needs to be fixed.

[2013-04-07 12:55] #13 closed, assigned to tim-kos

[2013-04-07 12:56] #8 closed, assigned to kvz

[2013-04-17 11:19] felixge opened #14 "Improve copy on homepage, consider removing "fuck""
see https://news.ycombinator.com/item?id=5563569

[2013-04-17 22:25] #14 closed, assigned to nobody

[2013-04-17 22:26] felixge opened #16 "Improve about page / homepage copy further"
See @hintjens's comment here: https://github.com/tus/tus.io/issues/14#issuecomment-16504582

[2013-04-18 11:22] #16 closed, assigned to nobody

[2013-04-18 15:27] #12 closed, assigned to nobody

[2013-06-25 10:55] RasmusWL opened #18 "Content-Type in PATCH request example still not present"
This was fixed in your protocol (https://github.com/tus/tus-resumable-upload-protocol/pull/23) but has not propagated to the website yet.

[2013-07-01 12:37] #18 closed, assigned to kvz

[2015-01-23 10:18] qsorix opened #21 "Publish an update describing progress on 1.0"
Hi,

I've recently talked with a friend and realized that for majority of the audience, the project is dead, since there's no activity on the www.tus.io page.

Maybe it is time for a blog post mentioning changes coming in 1.0, and expected release date?

What do you thiink?

[2015-01-23 20:39] Acconut commented on #21
Haha, that's a good timing since my plan was to release the 1.0 prerelease (including blog post and mailing list) next week (preferable on Jan 26).
The only thing which is currently holding me back is a needed proposal for non-contiguous chunks and parallel uploads.
When launching the final 1.0 version we may also update tus.io to give it a fresher look.

[2015-02-03 19:52] Acconut commented on #21
Blog post about prerelease is online: http://www.tus.io/blog/2015/02/03/protocol-v1.0.0-prerelease/
Future public announcements will follow.

[2015-07-24 02:32] mezongzi opened #23 "Is there a python client"
Is there a python client?

[2015-07-24 02:33] mezongzi commented on #23
Is there a python client?

[2015-07-24 08:06] kvz commented on #23
Hi, yes as can be seen on [the implementations page](http://tus.io/implementations.html) one of our core members @vayam wrote a client library. @codeeply wrote a server implementation.

These are not compatible yet with our [upcoming 1.0 release](https://github.com/tus/tus-resumable-upload-protocol/blob/1.0/protocol.md) though.

If you - or anybody reading this - would like to help with that, we s

[2015-08-06 02:27] JokerQyou commented on #23
I have to say that the server implementation provided by @codeeply is no longer available, the repo is now a 404 page. :(

[2015-08-06 09:30] kvz commented on #23
Alright thanks for the headsup, I removed it from our implementation page for now in bc76e3cee84a7280b35ad42adb5ab6173cb76030

[2015-08-06 11:23] JokerQyou commented on #23
Umm... By looking through the link you provided, I see the version of us protocol is `1.0`, and it's done on 2014-01-26; But according to the `http://tus.io` website, the version of us protocol is `0.2.2`, and published on the same date. Which one is the right one?

[2015-08-06 11:24] kvz commented on #23
Right, 1.0 is our next version. We're in the process of finalizing it. We're still waiting on a final round of review by a few google engineers, but it probably won't change much, which is why implementors already started making their projects compatible with the 1.0 pull request - but it's not the main protocol on tus.io yet.

[2015-08-20 20:53] kvz commented on #21
Closing this

[2015-08-20 20:53] #21 closed

[2015-08-20 20:54] kvz opened #25 "Demo page needs <3"
Here's a screen with some suggestions:

![](https://dl.dropboxusercontent.com/s/fjrespiu08508s6/2015-08-20%20at%2022.49%202x.png?dl=0)

About the platforms... Could we use the ones mentioned here for starters? https://travis-ci.org/tus/tus-js-client/builds/68939798

[2015-08-24 09:06] kvz opened #26 "Errors when building assets"
Please see the full output here

[code]

Just for me or for everyone? I'm using

[code]

on OSX.

/cc @fahad19

[2015-08-24 12:06] Acconut commented on #26
Works for me on Ubuntu using node v0.10.

[2015-09-19 07:28] kvz commented on #25
Taking care of this one myself --^

[2015-09-19 08:28] kvz opened #28 "Companies that (plan to) use tus"
I think it would be cool to add a "Used by" section to the homepage with companies listed in this ticket. So please leave a comment here if you (plan to) use tus in production.

[2015-09-19 08:36] kvz opened #29 "Make blog posts look prettier"
Not sure how yet, but I feel a page like http://127.0.0.1:4000/blog/2015/09/19/project-status/ looks a bit unbalanced and is pretty hard to digest:

![screencapture-127-0-0-1-4000-blog-2015-09-19-project-status-1442651755078](https://cloud.githubusercontent.com/assets/26752/9975364/4daca1a0-5eba-11e5-95ea-4937f3fbb984.png)

Any ideas are welcome

[2015-09-19 08:45] kvz commented on #23
Working on a blog post with Project Status that we'll publish soon.

[2015-09-19 09:22] kvz commented on #23
Closing in favor of https://github.com/tus/tus-resumable-upload-protocol/issues/67

[2015-09-19 09:23] #23 closed

[2015-09-19 12:25] Acconut commented on #25
You can find a list of browser which this is tested against in https://github.com/tus/tus-js-client/blob/master/.zuul.yml.

[2015-09-19 12:53] kvz opened #30 "Using Jekyll for assets?"
I see we're using node dependencies to build less->css.

Would it make sense to use Jekyll's built in stuff for this?
I'm not sure if the `less` node module is faster or anything. But it would be nice to just do `jekyll serve --watch`, and not only have previews of html changes but also layout.

I realize one could now run `npm scripts build:watch`, but having a unified toolchain would be nice?

[2015-09-19 13:37] kvz commented on #26
One error resolved. One error remains from [concat-from-list](https://www.npmjs.com/package/concat-from-list) @fahad19:

I added some debug statements around line 39

[code]

[code]

[2015-09-19 13:57] Acconut commented on #25
@kvz The best way (but not the prettiest) would be to embed Saucelabs' browser matrix: https://saucelabs.com/browser-matrix/marius_transloadit.svg

[2015-09-19 14:40] Acconut commented on #29
I added some indention to the paragraphs and lists, while making the space between sentences smaller. Also, headings have a light line beneath them.

For me personal, it's better to keep sentences in a paragraph together and not start a new line after a sentence stops. This makes it easier to read and symbolises that this block of texts speaks about a specific topic. It can be hard to do that, but

[2015-09-20 08:13] kvz commented on #29
Much better! What about the font face itself, are we happy with that? It feels a bit dull to me, not very polished either. And maybe it too black. thoughts?

[2015-09-20 08:22] #26 closed

[2015-09-20 14:38] fahad19 commented on #26
thanks for the work around @kvz!

@marius, @kvz: please CC me on any bug on Slack so I don't miss it, since my GitHub is full of work notifications.

[2015-09-20 17:54] kvz commented on #26
NP! Ok thanks, will do!

[2015-09-20 18:56] fahad19 commented on #30
I would be in favour of doing it all via one command, but no clue how to do it via Jekyll.

[2015-09-20 19:06] fahad19 commented on #29
Current font used is Proxima Nova. Works great on apps, but its use on blog posts can be questionable.

Other suggestions that I propose, if everyone really wishes for a change:

* Lato: https://www.google.com/fonts/specimen/Lato
* Vollkorn: https://www.google.com/fonts/specimen/Vollkorn (I really prefer serif fonts, those with curvy ends, for posts)
* Roboto Slab: https://www.google.com/fonts/spe

[2015-09-20 19:07] fahad19 commented on #29
For paid fonts via TypeKit, I am a fan of FF Tisa Pro: https://typekit.com/fonts/ff-tisa-web-pro/n4/wfs

[2015-09-20 19:26] kvz commented on #29
Transloadit purchased a typekit license iirc for the shiny site - could we repurpose it for tus?

Sent from mobile, pardon the brevity.

[2015-09-20 19:37] kvz commented on #30
Good to know you'd be on board, I'll see if there's an easy route to make it happen.

Sent from mobile, pardon the brevity.

[2015-09-21 11:47] kvz commented on #28
[Transloadit](https://transloadit.com)

[2015-09-28 07:29] kvz opened #32 "Reference implementations on homepage not aligned properly"
![](https://dl.dropboxusercontent.com/s/efgv3npfwarnowr/2015-09-28%20at%2009.28%202x.png?dl=0)

[2015-09-28 16:24] Acconut commented on #32
Thanks, should be fixed now.

[2015-09-28 16:24] #32 closed

[2015-09-28 16:24] kvz commented on #32
:+1:

[2015-10-10 13:03] kvz commented on #30
This has been completed in https://github.com/tus/tus.io/compare/658bd572ae0df0bdd3bd857dbd3860628b67b890...0472845fef4c6e4526e19d6592dd7f58968205d3

Please run `make preview` to see how if it works locally - and let me know how it went @Acconut @fahad19.

[2015-10-10 13:03] #30 closed

[2015-10-10 13:06] kvz commented on #28
This has been addressed in https://github.com/tus/tus.io/compare/658bd572ae0df0bdd3bd857dbd3860628b67b890...0472845fef4c6e4526e19d6592dd7f58968205d3, visitors can now directly submit PRs to contribute their logos.

[2015-10-10 13:06] #28 closed

[2015-10-10 13:22] kvz commented on #29
This was resolved in #35

[2015-10-10 13:22] #29 closed

[2015-10-10 13:29] kvz commented on #1
If you want to target local (or any other) tus servers, you can change Jekyll's `tusd_endpoint` varialble. You can also pass this in at runtime as you can overlay configuration.

This is good enough for our purposes, so I'm resolving this one now

[2015-10-10 13:29] #1 closed

[2015-10-10 13:31] kvz commented on #25
Not sure about that svg, it's cool, but a bit ugly indeed.

[2015-10-11 08:39] kvz opened #43 "Different fonts for the same thing?"
We should probably pick one font to rule them all:

![](https://dl.dropboxusercontent.com/s/mdmqelbk6to528s/2015-10-11%20at%2010.38%202x.png?dl=0)

[2015-10-12 21:55] fahad19 commented on #43
Go serif all the way?

[2015-10-13 05:58] kvz commented on #43
Would be best I think, yes

[2015-10-17 21:07] Acconut opened #51 "Show HTTP requests and responses on demo page"
Since the demo should not only present the functional and interactive aspects of tus but also the technical ones, I would favour if a log section would be added where every tus-specific request and the appropriate response are shown in chronological order. In addition, further details such as explanations for headers can be implemented.

/cc @kvz

[2015-10-21 05:45] khangtoh commented on #28
We at @picocandy have been using @picocandy/rubytus in production since 2013

[2015-10-21 05:58] kvz commented on #28
If you want you logo up there, please add it here https://github.com/tus/tus.io/edit/master/_data/logos.yml

[2015-10-24 10:04] #43 closed

[2015-10-24 20:47] Acconut commented on #25
The browser matrix has been addressed in bd6a453d9483a8fa0530cec4dea7921000d4f603.

[2015-10-25 07:07] kvz commented on #51
Great idea!

Sent from mobile, pardon the brevity.

[2016-03-14 16:47] hpvd opened #90 "Changing IP adress - resume possible?"
This is really nice up-write of why and how TUS http://tus.io/blog/2015/11/16/tus.1.0/

just one question is open: could TUS also handle the change of an IP address?

e.g.
1) you start an upload at home in your own wifi and take your notebook with you to work where is another wifi => could the upload in new wifi with new IP address be resumed?

2) you start an upload with your mobile 3G connection

[2016-03-14 19:38] Acconut commented on #90
Thank you a lot :)

Yes, the tus protocol on it's own makes absolutely no assumptions about the IP address staying the same. As long as the server does not put additional constraints, which we highly recommend against, it is absolutely possible and also wanted by us.

Same as above. Switching the network is absolutely possible by the protocol itself. The client implementations, however, need to ha

[2016-05-10 12:49] Acconut commented on #25
All your suggestions have been implemented and are live :)

[2016-05-10 12:49] #25 closed

[2016-08-07 10:52] janko-m opened #93 "The demo doesn't seem to work"
1. Start uploading a large file (~200MB)
1. Leave it for some time (before it gets to half)
1. Close the tab and reopen it
1. Choose the same file again
1. Upload starts from the beginning

Also, it takes really long for the upload to start (maybe 6-8 seconds), I was checking the network activity, but for some reason couldn't find what was taking so much time.

[2016-08-07 15:11] Acconut commented on #93
Thank you for reporting this. Unfortunately, I will not be able to look into this issue for the next two weeks. Meanwhile, may you be able to check whether your browser supports localStorage? Some browsers, e.g. Chrome disallow localStorage if you are in a private browsing session.

[2016-08-07 15:17] janko-m commented on #93
No problem, I'm using the latest Chrome (51.x) with a regular browsing session.

[2016-08-28 13:39] Acconut commented on #93
I tried to reproduce this multiple times but were not able to achieve the same observations as you did, both the non-resuming issue and the slow start. Do these problems still occur for you?

[2016-08-28 16:26] janko-m commented on #93
I tried again now, and was getting the same behaviour. And then I tried with a different file, and it worked perfectly. When I realized which kind of file I was using, I facepalmed.

I turns out I was using a Mac .app file which I was actually running in the background, so its contents were changing. This also explains the delayed starting time, because it's probably difficult to calculate "last m

[2016-08-28 16:26] #93 closed

[2016-08-28 16:31] Acconut commented on #93
Haha, absolutely no problem. I am pleased to hear that you were able to figure it out :)
FYI, tus-js-client (the client library behind the demo) will start a new upload for the same file if its fingerprint changes. The current mechanism for calculating this value is a bit naive: https://github.com/tus/tus-js-client/blob/master/lib/fingerprint.js. Here you can also see that a changed size or modifi

[2016-09-13 23:35] olalonde opened #96 "Curl like client to test tus API implementation?"
Is there any command line client to upload a file to a tus server? Would be useful for testing implementations.

[2016-09-14 08:01] kvz commented on #96
Hi Oli, currently there's no curl based client. We did have some simple demo code, but it dates from 2013 and has been deprecated and removed from the tusd repository: https://github.com/tus/tusd/blob/f67ce78c4d75e86afc400c8e102542f61e3cf312/scripts/demo-alphabet.sh - it's not compatible with tus 1.0.

It might be possible to use it as a starting point for some new demo code, that we could perhaps

[2016-09-24 09:55] eahydra opened #97 "remove Client eahydra/tusclient"
Please remove Client/eahydra/tusclient(https://github.com/eahydra/tusclient)
I don't maintain the code.

[2016-09-25 13:18] Acconut commented on #97
We're sad to hear but obviously accept your decision. Just out of curiosity, did you delete the actual repository? If so, may I why you decided against keeping the non-maintained code public?

[2016-09-25 13:33] eahydra commented on #97
I haven't been following TUS.  And When I review the code, the client implementation is so poor. I think need the other one re-implement the client and support new version of TUS Protocol, so I delete the repo.

[2016-09-25 13:33] #97 closed

[2016-09-28 13:50] gerdus opened #98 ".Net Client"
I made a client implementation for .net (C#,Visual Basic.Net,etc)
https://github.com/gerdus/tus-dotnet-client

Protocol version v1.0.0
MIT License

Please add it to the implementations page.

[2016-09-28 13:59] #98 closed

[2016-09-28 14:07] kvz commented on #98
Thanks! Added!

[2016-10-26 20:40] #90 closed

[2016-10-26 21:23] Acconut commented on #96
I agree. This also may help understanding the basic steps a client library does while uploading a file.

From my personal experience, using curl directly to speak to the tus server is not pleasant. You basically always have to remember to include the correct headers which makes the command quite verbose, e.g.:

[code]

What I would prefer is a zero-dependency binary which you can simply download s

[2016-10-26 21:37] olalonde commented on #96
A Go library would be cool. And it could be wrapped into a no-dependencies CLI.

[2016-10-27 08:58] kvz commented on #96
+1 For a go client. At the same time, I think there _still_ is a usecase for maintained curl snippets. I think there's enough people that will copypaste them into bash scripts, creating 10minute abstractions, just to get a feel for the tech and do some prototyping. With a black-box binary, they might think they still don't understand tus, we'd also be making choices for them in terms of interface

[2016-10-27 21:17] Acconut commented on #96
A Go library may be a good way to go.

I am not an expert on the current status of Rust but if you want to consume HTTP in any form you are in kind of dilemma. It's standard library does not feature a HTTP interface (neither server nor client) and the most usable community projects should still not be considered stable (e.g. see https://github.com/hyperium/hyper#hyper). Therefore Rust may not be t

[2016-11-08 21:59] Acconut opened #101 "Improve onboarding experience"
The tus.io website does not contain a lot of useful information for first-time visitors to get a good idea what the entire tus project is about. The only proper resources are the short introduction texts on the landing page and the list of implementation. Of course, there is also the specification but I would not consider it a document which is supposed to teach you what the tus protocol is, if yo

[2016-11-09 08:46] kvz commented on #101
I was thinking maybe we could do a FAQ based on those interview questions we did a while back. We'd strip out my name and such ofc. Pasting it below.

I agree with the other things you mentioned.

## Which problem does ‘tus’ hope to solve?

Van Zonneveld explains,

## So, ‘tus’ can improve network connections?

## How did you come up with this idea?

## Resumable uploads, didn’t that already exist

[2016-12-02 17:47] oliverpool opened #104 "Demo does not seem to work"
Your project looks really nice.

I tried the [online demo](https://tus.io/demo.html), but nothing happened (on Chromium and on Firefox - on arch linux).

Looking at the Chromium console, I found this:

[code]

Any idea what is happening?

[2016-12-02 18:12] Acconut commented on #104
Thank you for reporting. We just changed to tool for building the tus.io website the days ago and I assume that this could be the root cause. @kvz, do you have an idea?

[2016-12-03 06:55] kvz commented on #104
Thanks @oliverpool I think https://github.com/tus/tus.io/commit/09c7d30a9518b72a9a67fb0b790caad69a8aef0d should fix it. We switched to Webpack and by default have no global scope to dump objects in like we did. Can you refresh and confirm it's working for you again?

[2016-12-03 09:23] Acconut commented on #104
Works again. Thank you, Kevin!

[2016-12-03 09:23] #104 closed

[2016-12-04 09:06] oliverpool commented on #104
Works perfectly fine.

Tus looks really good, I'll give it a try for my next project!

[2016-12-04 10:46] kvz commented on #104
Sounds excellent! Let us know how it goes!

[2016-12-07 21:34] sarvaratchagan opened #105 "unable to install npm dependencies"
I cloned this repository in my local machine & when I try to install npm dependencies I'm getting some issues. Could you please help me ? Herewith I attached screen shot for your reference.

![screenshot_1](https://cloud.githubusercontent.com/assets/7565739/20987513/fadb1f72-bcf2-11e6-9678-31baebc0bd81.jpg)

[2016-12-08 00:17] Acconut commented on #105
@kvz, could you help us with this issue?

[2016-12-08 09:21] kvz commented on #105
Hi,

tus.io is only the website. Did you clone it because you wanted to propose a change to our website? We use https://github.com/kvz/lanyon for web development which does not support Windows, which is likely the cause of your trouble :/

[2016-12-08 09:22] kvz commented on #105
If you just want to use tus  though, the good news is that you don't need the tus.io repository

[2016-12-08 11:36] sarvaratchagan commented on #105
Not for change. I understood the thing after long R&D. because there is no windows support in "lanyon". Recently we have a requirement to implement resumable upload functionality. I need some help on that

1) is there any existing angular js version available for "tus-js-client"
2) how can we implement encryption & decryption

Thanks !

[2016-12-08 16:59] Acconut commented on #105
We are going to look into how we can add support for Windows in Lanyon. If you are interested in this topic, you may subscribe to https://github.com/kvz/lanyon/issues/2.

There is no Angular-specific project but tus-js-client will run in all modern browsers. Are there any specific requirements for Angular to use third-party libraries?

Which kind of encryption do you think of? Server- or client-si

[2016-12-09 09:36] sarvaratchagan commented on #105
Hello @Acconut , We have a requirement to develop a product like dropbox. Here end user can upload very large files and store their information in cloud storage.

Q2 : I tried samples it's showing only one progress indicator. I need to show progress indicator separately each uploading files. If there is any existing components available we can use it without much effort. Herewith I have attached a

[2016-12-09 09:41] kvz commented on #105
Hi there. It seems like you're interest in UI, tus-js-client is just the core of resumable file uploading and offers no progress-bar by default, only progress events. If you're interested in a ready-to-rock UI, http://uppy.io is the first file uploader with support for tus (but it's a work in progress).

As for encryption, MD5 only offers (weak) hashing, so it cannot be used for anything else than

[2016-12-09 09:47] sarvaratchagan commented on #105
Hello @kvz , Thanks for your suggestion. I want discuss with you bit more. Is there any channel available to talk for our team ?

[2016-12-09 09:51] Acconut commented on #105
@sarvaratchagan We have a tus-related channel on Slack. If you are keen on joining, you can send me a mail at marius@transloadit.com and I will get you invited.

[2016-12-09 09:54] Acconut commented on #105
As @kvz said, MD5 is no encryption algorithm, it's used for checksums.

That pretty much sounds as plain old HTTPS to me. It allows you to securely communicate between the client and server.

[2016-12-09 10:14] sarvaratchagan commented on #105
@Acconut Thank you & I have sent you mail. Please invite me.

[2016-12-09 10:14] #105 closed

[2017-01-26 20:17] acrispino opened #106 "Demo doesn't seem to be working"
I've been looking into tus lately. The demo page was working a few days ago, but isn't at the moment. I get this error:

![https://i.imgur.com/74bpqT0.png](https://i.imgur.com/74bpqT0.png)

Relevant lines from the chrome dev console:
[code]

chrome network log shows an OPTIONS request, but it seems to be missing the CORS + tus headers.

As an aside: does tus-js-client provide a way to know in whic

[2017-01-26 21:01] Acconut commented on #106
Thank you for reporting. We changed the configuration of our proxy which caused this problem when uploading. However, this has been addressed by now and should work as expected.

Not directly. You may want to listen to the progress event and if an error occurs after the corresponding listener has been invoked, you can assume that the error appeared during the upload.

[2017-01-26 21:01] #106 closed

[2017-01-27 17:23] cenkalti opened #107 "tus.py: A new Python client"
Hello,

I have written a new Python client for Tus protocol.

https://github.com/cenkalti/tus.py

Not every extension is supported but it is working okay for months so it is mature enough. We are using it at https://put.io internally. Also it is a dependency for our client library [putio.py](https://github.com/cenkalti/putio.py/blob/86c0bede1fbe3003e948eb905d16674a235557fa/setup.py#L19). A review

[2017-01-30 12:13] kvz commented on #107
Hi,

Thanks for your interest in tus! If you can add the license and version details, we'd be happy to merge such a PR.

All the best, Kevin

[2017-01-30 12:13] #107 closed

[2017-01-30 19:17] Acconut commented on #107
I am very pleased to hear this! Looking sharp :+1: I will definitely have a look at it, even if my experience in Python is far below rudimentary. In addition, @ifedapoolarewaju also recently released a Python client (https://github.com/ifedapoolarewaju/tus-py-client) so he could probably give some better feedback, if he wants to :)

[2017-06-29 17:29] fentas commented on #96
I wrote a quick bash script (**cURL**).

[code]
Just use it like
[code]

***NOTE** no resume + all data at once, but it works

[2017-06-30 17:10] kvz commented on #96
Nice! Would you be able to add a resume too? Just as an example, I think this might help to clarify the protocol to people a lot.

Sent from mobile, pardon the brevity.

[2017-07-04 11:43] fentas commented on #96
:sparkles: I'll try to script something in the next days.

[2017-07-07 19:55] fentas commented on #96
:hammer_and_wrench: Here is the promised follow-up
https://github.com/fentas/tus-shell-client

[2017-07-07 21:08] olalonde commented on #96
@fentas great. Btw, I think `TUS_CHUNCK_SIZE` should be `TUS_CHUNK_SIZE`.

[2018-05-07 07:12] tudeptrai102 opened #119 "Serve static file without extension?"
If you save files without extension, so how web server ( ex: IIS) can serve static file (image)? (for best performance on display?)
Any config to add extension to file?

[2018-05-08 09:30] kvz commented on #119
Hi, did you mean to post this to tusd or node-tus-server maybe?

One idea is to use the post hook to take the extension from the metadata and then save the file on final storage along with the extension, am i right @Acconut ?

[2018-05-09 03:08] tudeptrai102 commented on #119
As tus-node-server, they have a config like this https://github.com/tus/tus-node-server#custom-file-names
It's help web server can serve file as static file (known extension), We do not need to try read metadata, then write file to client manual. Performance will be better?

[2018-05-09 03:10] tudeptrai102 commented on #119
Oh sorry, i just understand @kvz  say. Close issue, thanks...

[2018-05-09 03:10] #119 closed

[2019-01-26 14:15] vldgeorgiev opened #121 "Unable to resume uploads, Upload-Offset is always 0"
Hi
There is one problem I am having while making a pascal client for tus.
I can successfully issue a POST to create a resource. It returns the resource location URL, which I checked and it returns a header "Upload-Offset:0". This is expected, because no data has been uploaded yet.

After that I send a PATCH and it starts uploading.  If I interrupt the connection before it is finished, the HEAD cal

[2019-01-26 18:32] vldgeorgiev commented on #121
Posted in the wrong repo. Should have been in us-resumable-upload-protocol

[2019-01-26 18:32] #121 closed

[2019-04-04 05:24] andrewmclagan opened #124 "Can the public access master.tus.io/files to test?"
Can the public access master.tus.io/files to test? the CORS policy blocks this at present. See my component:

https://beam-australia.github.io/material-tus/?path=/story/upload--events

[2019-04-05 20:29] Acconut commented on #124
master.tus.io is configured to accept uploads from any domain for testing purposes, just as you want. I just confirmed that the CORS headers are working a indented.

However, you use https://master.tus.io/files instead of https://master.tus.io/files/ as the upload creation endpoint (notice the trailing slash). tusd will redirect you to a URL with the trailing slashes. The problem is that browsers

[2019-04-17 11:35] #124 closed

[2019-08-15 22:25] ErunamoJAZZ opened #128 "ata instead data"
Hi, I just found a little miss in this file: https://github.com/tus/tus.io/blob/b2dc1ed67562f459281acfc06dda33167cc1ac0d/_pages/faq.md#how-are-pauseresume-handled-when-should-i-delete-partial-uploads

There is a `ata`, but I think this must say `data`.

[2019-08-16 06:57] #128 closed

[2019-08-16 06:57] Acconut commented on #128
Thank you very much!

[2019-09-24 10:31] #51 closed

[2020-02-13 10:38] methelas opened #141 "Additional unnecessary call if the file size is divisble by requestPayloadSize"
When trying to upload a file thats exactly divisible by `requestPayloadSize`. An additional empty PATCH request will be made that will result in 404.

The cause of it is that in `uploadChunk()` method you're finishing connection after `bytesRemainingForRequest` is reaching `0`. `uploadChunk()` doesn't return `-1` at this point.
On the server side the file is already "finished" since all bytes are

[2020-02-13 10:40] methelas commented on #141
Wrong project, sorry guys

[2020-02-13 10:40] #141 closed

[2020-02-13 10:44] methelas commented on #141
It was meant for android project, sorry 🙈

[2020-05-12 06:57] gajus opened #145 "Recommend express-tus as a node.js server implementation"
https://github.com/gajus/express-tus

[2020-05-15 16:06] Acconut commented on #145
I'm sorry to read that you are unsatisfied with tus-node-server and tusd and can very much understand your concerns. We would like to invest more resources into our implementations but our own time is also limited, so in particular tus-node-server is in a bad state.

If you want, you can open a PR to add express-tus to the list of implementations at https://github.com/tus/tus.io/blob/master/_conte

[2020-05-15 17:04] gajus commented on #145
As the [README.md explains](https://github.com/gajus/express-tus#motivation), `express-tus` does not (and will not) support any storage methods. Those can be built by anyone in the community. The purpose of `express-tus` to abstract the protocol requirements.

You can see all my open-source contributions https://github.com/gajus. They are all maintained.

[2020-05-19 19:17] josh-marshall-jax opened #147 "Example use case at Jackson Laboratory"
Hello,

I'm not sure if it is worth including under example projects, but I have a crude use of tus that might be easy for beginners to understand.  It is at https://github.com/TheJacksonLaboratory/image_upload_service and if it is good enough, feel free to include it.

[2020-05-24 08:29] Acconut commented on #147
Thanks for showing your usecase! We are always excited to see where tus ends up being used and we would definitely like to add you to your examples section. Also, would you be interested in answering a few questions and collaborating on a case study about your use of tus at JAX? Something similar to https://tus.io/blog/2017/05/19/how-tus-may-help-to-save-lives.html?

[2020-05-24 08:34] Acconut commented on #145
Makes sense as a design decision but in that case it is not a drop-in replacement for tus-node-server? Or do storage backends already exist?

Feel free to open a PR to adding express-tus to the list of implementations and to tus-node-server's README :) And thank you for contributing to the tus community!

[2020-05-24 20:15] gajus commented on #145
`tus-node-server` could use `express-tus` or it could provide just the storage implementations compatible with `express-tus`.

[2020-06-26 21:00] Ghoughpteighbteau opened #155 "Demo file upload resume or cancel is not working"
https://streamable.com/u01b4u

I can't start or resume a file I am uploading. I've tested this on three machines, two linux, one windows, multiple browsers each.

[2020-07-01 17:40] Acconut commented on #155
Thank you for reporting. I am not able to reproduce this right now. Could you try again and see if this was a temporary failure?

[2020-07-01 18:43] Ghoughpteighbteau commented on #155
ok, tried it again:

https://streamable.com/ciqv5k

[2020-07-02 17:09] Ghoughpteighbteau commented on #155
any thoughts on this one? I can provide diagnostics if you need it.

I've asked a few people to test this on their machine and it's not working for them, your environment may be letting it work on your machine somehow.

[2020-07-15 16:11] Acconut commented on #155
Ah, ok, thank you very much for the second video. It helped me understand what problem you were talking about and how to fix it. A patch for this is currently deploying and should be live soon.

[2020-07-15 16:52] Acconut commented on #155
This fix is live and the demo should be working now again :tada:

[2020-07-15 16:52] #155 closed

[2020-08-26 15:24] ioggstream opened #165 "Standardization process for TUS"
## Question

Is there a standardization process for tus.io?
It would be great to discuss the spec inside the IETF.

[2020-08-27 07:08] kvz commented on #165
Hi there, do you have experience with this? We're open to this and are in fact talking about this with a few people. Perhaps we should form a little steering group to make this happen.

[2020-08-27 08:52] ioggstream commented on #165
I have a basic experience in writing internet draft, and I'm currently working on the [Digest spec](https://httpwg.org/http-extensions/draft-ietf-httpbis-digest-headers.html). I landed here while discussing https://github.com/httpwg/http-extensions/issues/1005

I think the first step would be to join the httpwg mailing list and check if somebody is interested in reading/reviewing the spec (I am, f

[2020-08-28 12:34] kvz opened #166 "After adding colored background, one user logo looks bad"
![image](https://user-images.githubusercontent.com/26752/91561220-7eec9e80-e93b-11ea-91f5-7c7ef36f28b0.png)

[2020-08-31 09:09] Acconut commented on #165
Thanks for the insights, @ioggstream! This is all a bit of new territory for us, so I am going to need some time to understand what's exactly necessary. Expect an update in a few days!

[2020-08-31 12:08] #166 closed

[2020-09-07 10:21] Acconut commented on #165
We have joined the HTTPWG Slack (https://httpwg.slack.com/) to start the discussion for a proposal about resumable uploads. Feel free to join as well, if you want to.

[2020-09-23 15:33] Cigoler opened #170 "Can't visit the website as Bitdefender complains"
Here's the notification:

[code]

just fyi, not sure where or why you're blacklisted?

[2020-09-28 08:17] Acconut commented on #170
Thank you very much for letting us know! People are always uploading dubious stuff to our public demo and even virus scanners can't catch everything. I have submitted our website to https://www.bitdefender.com/submit for a review and let's hope it get unblocked soon.

[2020-09-28 08:28] #170 closed

[2020-09-28 09:32] kvz commented on #170
We're in the process of moving our demo upload target to a different domain, that will also help.

[2020-09-28 09:49] Acconut opened #171 "Inaccesible menu"
When the browser has a width of about 946px, the menu icon is hidden behind the GitHub icon on the upper right corner and the navigation is not accessible. When the browser is wider the full navigation items get shown correctly. Also, when the browser width is smaller, the GitHub icon gets hidden correctly. So this seems like an inconsistency in the limits for media queries in CSS.

 ![image](http

[2020-09-28 11:55] #171 closed

[2020-09-28 11:55] nqst commented on #171
Good point, thanks! Fixed 👌

[2020-09-28 12:07] Acconut commented on #171
Thank yoou very much :heart:

[2021-10-13 18:34] StefanWallin commented on #101
I found this issue as a newcomer and really liked this introduction. You should use this material! But also this article was great:
https://golangbot.com/understanding-tus/

[2021-10-13 18:41] StefanWallin opened #209 "Wrong certificate for tus.io"
Hi! Newcomer here! 👋

It seems that when visiting tus.io you get a certificate for github.com instead of one meant for your domain.

<img width="319" alt="Screenshot 2021-10-13 at 20 35 10" src="https://user-images.githubusercontent.com/457653/137192920-a09203de-4059-4ebc-b9c3-cffc018d44f6.png">
<img width="684" alt="Screenshot 2021-10-13 at 20 35 17" src="https://user-images.githubusercontent.com

[2021-10-13 18:57] Acconut commented on #209
Thanks for the report! It works for me on my laptop and phone, but @kvz also mentioned that he had problems. Could you look into that, Kevin?

[2021-10-15 19:37] Acconut commented on #209
Great to hear, Kevin! @StefanWallin Let us know if you are still encountering the problem. If so, we will reopen this issue and investigate.

[2021-10-15 19:37] #209 closed

[2022-04-05 19:14] nh2 opened #222 "Clarifications on what it means for an upload to be "finished""
I have a couple questions regarding the concept of uploads finishing in the spec (https://tus.io/protocols/resumable-upload.html).

* The `Expiration` and `Termination` extensions talk about "finished" and "unfinished" uploads, but it is neither defined what that means nor stated that these terms are explicitly undefined and it is communicated out-of-band whether an upload is finished. The only ca

[2022-05-26 15:39] Acconut commented on #222
Hello and thanks for these questions!

An upload is considered finished if and only if its `Upload-Length` matches `Upload-Offset` and the upload length is not deferred. If this connection is not met, the upload is unfinished / incomplete. An upload that is created through the Concatenation extension is immediately finished once the POST request is successfully responded to, meaning such an upload

[2022-05-26 17:31] nh2 commented on #222
OK, that makes sense. I think it would be great to state explicitly in the Spec or FAQ.

Ah, yes.

The other statements immediately before all started with "The response to a HEAD request" or "The Server MUST respond with". I understood the absence of those such that "The `Upload-Length` header MUST be included" thus to mean it would apply to both servers and clients.

Also, the sentence ends with